<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Settings</name>
    <sid>1827367649972662</sid>
    <event-sheet>Settings sheet</event-sheet>
    <size>
        <width>800</width>
        <height>600</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="1027948451556324">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="TiledBackground" uid="105">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window left</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-6</x>
                        <y>-5</y>
                        <z>0</z>
                        <width>814</width>
                        <height>612</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="arrowleft" uid="106">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>39</x>
                        <y>39</y>
                        <z>0</z>
                        <width>50</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="HeadingTxt" uid="113">
                    <properties>
                        <text></text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-32,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>80</x>
                        <y>24</y>
                        <z>0</z>
                        <width>452.62512207</width>
                        <height>55</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="114">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>en</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>542</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="115">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>de</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>575</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="116">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>fr</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>608</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="117">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>es</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>673</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="outline" uid="118">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>133</x>
                        <y>-64</y>
                        <z>0</z>
                        <width>32</width>
                        <height>25.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.514285743</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="119">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>br</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>706</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="120">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>it</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>640</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="121">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>kr</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>738</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="flag" uid="122">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <language>jp</language>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>771</x>
                        <y>24</y>
                        <z>0</z>
                        <width>30</width>
                        <height>23.5</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
